.chat{
    display:flex;
    min-width:500px;
    width:50%;
    margin-left: auto;
    margin-right:auto;
   height:auto;
   margin-top:20px;
   /* border-right:1px solid black; */
    /* align-items:center;

    justify-content: center; */
    border:1px solid black;
    background-color: white;
   
}
.sidebar{
    display:flex;
    border-right:1px solid black;
    flex:0.35;
    border-bottom:1px solid gray;
}

.mainbar{
    display:flex;
    flex:0.65;
}