

.header{
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    position:sticky;
    background-color:white;
    z-index:100;
    top:0;

   border:1px solid transparent;
   box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.header__left{
    display:flex;
    justify-content:space-evenly;
}

.header__input{
    display:flex;
    align-items:center;
    background-color:#eff2f5;
    padding:10px;
    margin-left:18px;
    border-radius:33px;

}
.header__input > input{
    border:none;
    outline-width:0;
    background:transparent;
   
}
.header__middle{
    display:flex;
    flex:1;
    justify-content:center;
}
.header__left > img {
    height:40px;
}

.header__option > .MuiSvgIcon-root{
    color:grey;
}
.header__option:hover > .MuiSvgIcon-root{
    color:#2e81f4;
}
.header__option{
    display:flex;
    align-items:center;
    padding:0 30px;
    cursor:pointer;
}
.header__option-active{
    border-bottom:4px solid #2e81f4;
    color:#2e81f4;
}

.header__option:hover{
    background-color:#eff2f5;
    border-radius:10px;
    align-items:center;
    padding:0 30px;
    border-bottom:None;


}
.header__right{
    display:flex;
}
.header__info > h4{
        margin-left:10px;
}
.header__info{
    display:flex;
    align-items:center;
}



