.login{
    display:grid;
   place-items:center;
   height:100vh;
}
.login > button{
        width:300px;
        background-color:#2e81f4;
        font-weight:800;
        color:white;
}
.login > button:hover{
        background-color:white;
        color:#2e81f4;
}
.login__logo{
       display:flex;
       flex-direction:column;

}

.login__logo > img {
        object-fit:contain;
        height:130px;

    
}

.img2{
        margin-top:40px;
}