.mainbarchat{
    display:flex;
    height:100vh;
    flex-direction: column;
    
}
.mainbarchat__header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}
.mainbarchat__header>h3{
    margin-left: 10px;
}

.mainbarchat__header>.MuiSvgIcon-root{
    padding:10px;
    margin-left: auto;
}

.mainbarchat__input{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:150%;
    max-width: 100%;
    height:30px;
    border:1px solid gray;
    border-radius:10px;
    padding:10px;
    margin-left:10px;
    margin-top:300px;


}

.mainbarchat__input>input{
    border:0;
    outline-width: 0;

}
.mainbarchat__input>button{
    display:none;
}

.mainbarchat__feed{
    flex:1;
    display: flex;
}