.common{
    display:flex;
    flex-direction:column;
}

.message__sender{
        display:flex;
        flex-direction:column;
        width:100%;
        border-radius:15px;
        margin-top:30px;
        background:white;
        box-shadow:0px 5px 7px -7px rgba(0,0,0,0.75);
        /* height:60px; */
      
}

.messagesender__top{
        display:flex;
        padding:15px;
        border-bottom:1px soliod #eff2f5;

}
.messagesender__top > form{
    flex-grow:1;
    display:flex;
}
.messagesender__top > form > input{
    outline-width:0;
    border:none;
    padding:5px 20px;
    margin:0 10px;
    border-radius:999px;
    background-color:#eff2f5;
}
.messagesender__top > form > button{
        display:none;
}
.messageSender__input{
    flex:1;
}

.messagesender__bottom{
    display:flex;
    justify-content:space-evenly;
}
.messagesender__option{
    display:flex;
    color:grey;
    padding:20px;
    margin:5px;
    align-items:center;
}
.messagesender__option > h3{
    font-size:medium;
    margin-left:10px;
    cursor:pointer;
}
.messagesender__option:hover{
    background-color:#eff2f5;
    border-radius:20px;
}