.post{
    background:white;
    width:100%;
    /* height:900px; */
    margin-top:20px;
    border-radius:15px;
    /* padding:10px; */
    box-shadow:0px 5px 7px -7px rgba(0,0,0,0.75);
}
.post__top{
            display:flex;
            align-items:center;
            position:relative;
            padding:15px;

}


 .profile_pic{
        margin-right:10px;
}
.posttop__info > h4{
        font-size:small;
}
       
.posttop__info > p{
    font-size:small;
    color:grey;
   
}

.post__middle > p{
            margin:10px;
}


.post__bottom  > img {
    margin-top:10px;
    width:100%;
    height:400px;
}

.post__options{
    display:flex;
    justify-content:space-evenly;
    padding-top:10px;
    font-size:medium;
    color:grey;
    padding:15px;
    cursor:pointer;
    border-top:1px solid lightgray;
}
.post__option{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px;
    flex:1;
}
.post__option > p{
    margin-left:10px;
}
.post__option:hover{
    background-color: #eff2f5;
    border-radius:10px;
}