.sidebarChat{
    display:flex;
    flex-direction: column;
    padding:10px;
}

.sidebarchat__header > h2{
        display: flex;
        align-items:center;
        text-align: center;
        /* justify-content: space-between; */

}

.sidebarchatroomd{
    display:flex;
    flex-direction: column;
    padding:10px;

}
