.sidebar{
    display:flex;
    flex-direction:column;
    padding:25px 10px;
    flex:0.5;
}

.sidebarrow{
    display:flex;
    padding:10px 0;
}
.sidebarrow:hover{
    background-color:lightgray;
    border-radius:10px;
}

.sidebarrow > h4{
    margin-left:20px;
    font-weight:600;
}

.sidebarrow > .MuiSvgIcon-root{
        font-size:xx-large;
        color:#2e81f4;

}