.sidebarchatroom{
    display:flex;
  flex:1;
  padding:10px;
  flex-direction: column;


}
.sidebarchatroom:hover{
    background-color: aliceblue;
    border-radius: 10px;
    width:100%;
}
.sidebarchatroom__info{
   
    display: flex;
    align-items: center;
}
.sidebarchatroom__info>h3{
    margin-left:10px;
}

.sidebarchatroom__message{
    margin-left: 50px;

}